<style>
  .modal-body{
    height:100% !important;
  }

  .modal-content{
  height:100% !important;
  }

  .modal-xl {
    max-width: 90%;
  }

</style>

<!-- Button trigger modal -->
<div class="my-3">
      <input class="border border-dark rounded" style="width:300px;" type="image" src="{{.Get `src`}}" data-toggle="modal" data-target="#exampleModal{{.Get `index`}}" />
      <figcaption class="figure-caption text-left">{{.Get `cap` }}</figcaption>
</div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal{{.Get `index`}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="row justify-content-center">
          <img src="{{.Get `src`}}" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</div>