<style type="text/css">
  @media all and (min-width: 992px) {
    .nav-item .dropdown-menu{ display: none; }
    .nav-item:hover .dropdown-menu{ display: block; }
    .nav-item .dropdown-menu{ margin-top:0; }
  }	
  </style>

<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item nav-item dropdown {{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL}}" class="nav-link {{if .HasChildren }} dropdown-toggle {{ end }}"  aria-haspopup="true" aria-expanded="false" >
        {{ .Pre }}
        {{ .Name }}
      </a>
      {{if .HasChildren }}
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{ range .Children }}
        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
      {{ end }}
    </li>
    {{end}}
  </ul>
</div>